aiosmtplib
alembic
amqp
annotated-doc
annotated-types
anyio
asgiref
attrs
Authlib
axios
bcrypt
billiard
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cloudinary
cmake
colorama
cryptography
distro
dj-rest-auth
Django
django-allauth
django-cleanup
django-cors-headers
django-countries
django-environ
django-extensions
django-filter
django-jazzmin
django-phonenumber-field
django-timezone-field
djangorestframework
djangorestframework_simplejwt
dnspython
dotenv
drf-spectacular
drf-yasg
ecdsa
email-validator
environ
exceptiongroup
fastapi
fastapi-jwt-auth
greenlet
gunicorn
h11
httpcore
httpx
idna
inflection
iniconfig
Jinja2
jiter
jsonschema
jsonschema-specifications
kombu
lxml
Mako
mangum
markdown-it-py
MarkupSafe
mdurl
oauthlib
openai
packaging
passlib
paystack
phonenumbers
pillow
pluggy
prompt_toolkit
psycopg
psycopg-binary
psycopg2-binary
pyasn1
pycparser
pycryptodome
pycryptodomex
pydantic
pydantic-settings
pydantic_core
Pygments
PyJWT
pytest
pytest-django
python-dateutil
python-decouple
python-dotenv
python-environ
python-jose
python-magic
python-multipart
pytz
PyYAML
redis
referencing
requests
rich
rpds-py
rsa
ruff
setuptools
shortuuid
simplejson
six
sniffio
SQLAlchemy
SQLAlchemy-Utils
sqlparse
starlette
tomli
tqdm
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
uvicorn
vine
wcwidth
Werkzeug
wheel
